.parallax {
    background-image: url('img/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
}

#banner{ 
    width: 100%; 
    margin-top: 50px;
}
#dynamic-message{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.button:hover {
    background-color: #555;
    transition: background-color 0.5s ease;
}
.parallax-img{
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    background-image: url('https://images.pexels.com/photos/314865/pexels-photo-314865.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-attachment: fixed;
    
}

.about_description{
    text-align: left;
}
.navbar-dark{
    background-color: #7c6a5e;
}
body {
    background: url('img/texture.png') repeat;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.buyButton:hover{
    padding-left: 20px;
    padding-right: 20px;
    transition: padding-left 1s;
    transition: padding-right 1s;
    
}

#about,#contact{
    background-color: #f9f4ef;
}

#back-to-top{
    bottom: 20px; 
    right: 20px;
}
#references{
    background-image: url('/img/always-grey.png');
    background-color: #7c6a5e; 
    color: #f8f5f1;
    padding-top: 30px;
    padding-bottom: 10px;
}
#space{
    padding-bottom: 600px;
}
#Squirrel-about{
height: 200px;
width: auto;
}
.about-photo{
    height: 200px;
    width: auto;
}
#ceo{
    height: 200px;
    width: 200px;
}
.product-list{
    margin-top: 10px;
}

.product-image{
    height: 200px;
    width: auto;
}


@keyframes moveUp{
    0%{ padding-top:0px;}
    100%{padding-top:200px;}
}

#back-to-top:hover{
    position: relative;
    animation: moveUp 5s;
}
